:root {
  /* Colors */

  --background: #000000;
  --background_inverted: #ffffff;
  --primary-color: #ffffff;
  --primary-inverted: #242424;
  --blur-background: rgba(0, 0, 0, 0.2);
  --font-family: 'Inter', Helvetica, Arial, sans-serif;
  --h1: 48px;
  --h2: 34px;
  --h3: 32px;
  --h4: 28px;
  --h5: 24px;
  --body: 20px;
  --body2: 16px;
  --base-margin: 16px;
  --base-margin_2: 32px;
}
body {
  font-size: var(--body);
  padding: 0;
  line-height: 26px;
  background: var(--background);
}

h3 {
  font-size: var(--h3);
  line-height: 120%;
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
